@use './tokens';

// Apenas variaveis SCSS para uso em mixins ou funcoes
// Nao redefinimos :root aqui para preservar a opacidade e cores do _tokens.scss
$primary-color: var(--primary-500);
$secondary-color: var(--secondary-500);
$text-primary: var(--text-primary); // Agora pega a opacidade correta do token
$text-secondary: var(--text-secondary);

// Breakpoints e outras variaveis estaticas do SASS podem ficar aqui
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
